<main>
  <div id="main-slideshow" class="empty-slider">
    <div class="slider-container">
      <div class="left-content">
        <div class="slider-title">
          Essay Writing Service
        </div>
        <span> <i class="underline"></i> </span>
        <div class="slider-desc-container">
          <p class="slider-desc">
            An expert and equipped writing service encourages you to make, draft, construct and produce a mistake free
            article for publication Peer reviewed. We offer these services through a group of experienced and talented
            writers. You can utilize their abilities and mastery to fabricate your publication rapidly, effectively,
            and
            viably.
          </p>
        </div>
        <div class="slider-btn-container">
          <a href="#-" class="slider-btn">View Details</a>
        </div>
      </div>
      <div class="right-content">
        <img alt=""
          src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/Slider-Banner.jpg"
          style="position: relative; height: 100%; width: 100%;">
      </div>
    </div>
  </div>
  <div id="main" class="sidebar-none sidebar-divider-off">
    <div class="featured">
      <div class="wpb-content-wrapper">
        <div class="wpb_column vc_column_container">
          <div class="aio-icon-top">
            <div class="aio-icon circle " style="color:#fff;font-size:32px;">
              <i class="fa-solid fa-flag"></i>
            </div>
          </div>
          <div class="aio-icon-header">
            <h3 class="aio-icon-title ult-responsive">22 YEARS IN RESEARCH</h3>
          </div>
          <div class="aio-icon-description ult-responsive">
            We alludes to the work a business conducts for the advancement, presentation and
            improvement of its items and methodology.
          </div>
        </div>
      </div>
      <div class="wpb-content-wrapper">
        <div class="wpb_column vc_column_container">
          <div class="aio-icon-top">
            <div class="aio-icon circle " style="color:#fff;font-size:32px;">
              <i class="fa-solid fa-user-group"></i>
            </div>
          </div>
          <div class="aio-icon-header">
            <h3 class="aio-icon-title ult-responsive">TEAM OF PROFESSIONALS</h3>
          </div>
          <div class="aio-icon-description ult-responsive">
            Especially, they are people who dive profound into explicit kinds of topic to adapt new things, create
            speculations, make procedures and concoct genuine word applications for their discoveries.
          </div>
        </div>
      </div>
      <div class="wpb-content-wrapper">
        <div class="wpb_column vc_column_container">
          <div class="aio-icon-top">
            <div class="aio-icon circle " style="color:#fff;font-size:32px;">
              <i class="fa-solid fa-clock"></i>
            </div>
          </div>
          <div class="aio-icon-header">
            <h3 class="aio-icon-title ult-responsive">PATENTING SERVICES</h3>
          </div>
          <div class="aio-icon-description ult-responsive">
            Patents are utilized to secure the manner in which things work. A patent is a privilege conceded for a
            development that is new and valuable. An enlisted patent furnishes.
          </div>
        </div>
      </div>
      <div class="wpb-content-wrapper">
        <div class="wpb_column vc_column_container">
          <div class="aio-icon-top">
            <div class="aio-icon circle " style="color:#fff;font-size:32px;">
              <i class="fa-solid fa-sliders"></i>
            </div>
          </div>
          <div class="aio-icon-header">
            <h3 class="aio-icon-title ult-responsive">CUSTOMIZED SOLUTIONS</h3>
          </div>
          <div class="aio-icon-description ult-responsive">
            Our PhD Guidance give tweaked arrangement (Customized Solutions) dependent on the client's prerequisites.
            As
            well as, Custom answers for help you with your extraordinary activities.
          </div>
        </div>
      </div>
    </div>

    <div class="welcome-section">
      <div class="upb_row_bg">
        <h2 class="header">Welcome to ThereSearchHelp!</h2>
        <div class="uvc-heading-spacer line_only" style="">
          <span class="uvc-headings-line"
            style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;">
          </span>
        </div>
        <div class="uvc-sub-heading ult-responsive" style="font-weight:normal;">
          <p></p>
          <h2 style="font-size:26px; text-align: center;" class="lazyloaded">Your Gateway to Academic Excellence</h2>
          <p></p>
        </div>
        <div class="main-section">
          <div class="left-content">
            <div class="shortcode-single-image-wrap">
              <div class="img_bor_custom">
                <img fetchpriority="high" loading="eager"
                  src="<%= asset_path('logos/theresearchhelp-logo.png') %>"
                  class="preload-me aspect lazyloaded">
              </div>
            </div>
            <h2 style="font-weight:bold;margin-bottom:20px;" class="lazyloaded">Our ThereSearchHelp</h2>
            <div class="uvc-sub-heading ult-responsive" style="font-weight:normal;">
              <p></p>
              <h2 style="font-size:26px;" class="lazyloaded">Your Gateway to Academic Excellence</h2>
              <p></p>
            </div>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p style="text-align:justify;">At <b>TheResearchHelp.com</b>, we're dedicated to empowering scholars,
                  researchers, and institutions to achieve their research goals and aspirations. With our
                  comprehensive range of research consultancy services and a team of seasoned experts, we're here to
                  support you every step of the way.</p>
                <p>
                  <br>
                  <template data-nitro-marker-id="76caa877f66993fd399cd04773b33f98-1"></template>
                  <br>
                  <template data-nitro-marker-id="b43117c81b7bac62eeb95059ac462917-1"></template>
                  <script src="blob:https://theresearchhelp.com/bb01ce6b-4732-4de5-b99a-b7460f12266d"
                    data-nitro-for-id="b43117c81b7bac62eeb95059ac462917-1"
                    id="b43117c81b7bac62eeb95059ac462917-1"></script>
                </p>
              </div>
            </div>
            <a href="https://theresearchhelp.com/our-company/"
              class="default-btn-shortcode dt-btn dt-btn-s link-hover-off btn-inline-left" title="Our Company">
              <span>MORE ABOUT OUR COMPANY</span>
            </a>
          </div>
          <div class="right-content">
            <div class="wpb_wrapper">
              <div class="aio-icon-component  vc_custom_1554458344203  accent-icon-bg style_1">
                <div id="Info-box-wrap-9480" class="aio-icon-box left-icon" style="">
                  <div class="aio-icon-left">
                    <div class="ult-just-icon-wrapper  ">
                      <div class="align-icon" style="text-align:center;">
                        <div class="aio-icon advanced "
                          style=" color:#fff;border-color:#333;border-width:1px;width:34px;height:34px;line-height:34px;border-radius:500px;background: #ffb536;font-size:16px;display:inline-block;">
                          <i class="fa-solid fa-leaf"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="aio-ibd-block">
                    <div class="aio-icon-header">
                      <h3 class="aio-icon-title ult-responsive"
                        data-ultimate-target="#Info-box-wrap-9480 .aio-icon-title"
                        data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:20px;&quot;,&quot;line-height&quot;:&quot;desktop:26px;&quot;}"
                        style="">Engagement</h3>
                    </div>
                    <div class="aio-icon-description ult-responsive"
                      data-ultimate-target="#Info-box-wrap-9480 .aio-icon-description"
                      data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}"
                      style="">Connected with clients we are increasingly providing beneficial, more
                      client engaged and progressively steadfast.</div>
                  </div>
                </div>
              </div>
              <div class="aio-icon-component  vc_custom_1554458351525  accent-icon-bg style_1">
                <div id="Info-box-wrap-4852" class="aio-icon-box left-icon" style="">
                  <div class="aio-icon-left">
                    <div class="ult-just-icon-wrapper  ">
                      <div class="align-icon" style="text-align:center;">
                        <div class="aio-icon advanced "
                          style=" color:#fff;border-color:#333;border-width:1px;width:34px;height:34px;line-height:34px;border-radius:500px;background: #ffb536;font-size:16px;display:inline-block;">
                          <i class="fa-solid fa-user"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="aio-ibd-block">
                    <div class="aio-icon-header">
                      <h3 class="aio-icon-title ult-responsive"
                        data-ultimate-target="#Info-box-wrap-4852 .aio-icon-title"
                        data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:20px;&quot;,&quot;line-height&quot;:&quot;desktop:26px;&quot;}"
                        style="">Respect</h3>
                    </div>
                    <div class="aio-icon-description ult-responsive"
                      data-ultimate-target="#Info-box-wrap-4852 .aio-icon-description"
                      data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}"
                      style="">A standout amongst the most ideal approaches to demonstrate our regard is
                      recognize what the client state and address them rapidly.</div>
                  </div>
                </div>
              </div>
              <div class="aio-icon-component  vc_custom_1555485737948  accent-icon-bg style_1">
                <div id="Info-box-wrap-7116" class="aio-icon-box left-icon" style="">
                  <div class="aio-icon-left">
                    <div class="ult-just-icon-wrapper  ">
                      <div class="align-icon" style="text-align:center;">
                        <div class="aio-icon advanced "
                          style=" color:#fff;border-color:#333;border-width:1px;width:34px;height:34px;line-height:34px;border-radius:500px;background: #ffb536;font-size:16px;display:inline-block;">
                          <i class="fa-solid fa-bars"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="aio-ibd-block">
                    <div class="aio-icon-header">
                      <h3 class="aio-icon-title ult-responsive"
                        data-ultimate-target="#Info-box-wrap-7116 .aio-icon-title"
                        data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:20px;&quot;,&quot;line-height&quot;:&quot;desktop:26px;&quot;}"
                        style="">Transparency</h3>
                    </div>
                    <div class="aio-icon-description ult-responsive"
                      data-ultimate-target="#Info-box-wrap-7116 .aio-icon-description"
                      data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}"
                      style="">We fabricate trust through Transparency. A Transparency organization,
                      then again, highlights benefits that can prompt more joyful customers.</div>
                  </div>
                </div>
              </div>
              <div class="aio-icon-component  vc_custom_1554458381717  accent-icon-bg style_1">
                <div id="Info-box-wrap-7059" class="aio-icon-box left-icon" style="">
                  <div class="aio-icon-left">
                    <div class="ult-just-icon-wrapper  ">
                      <div class="align-icon" style="text-align:center;">
                        <div class="aio-icon advanced "
                          style=" color:#fff;border-color:#333;border-width:1px;width:34px;height:34px;line-height:34px;border-radius:500px;background: #ffb536;font-size:16px;display:inline-block;">
                          <i class="fa-solid fa-shield-halved"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="aio-ibd-block">
                    <div class="aio-icon-header">
                      <h3 class="aio-icon-title ult-responsive"
                        data-ultimate-target="#Info-box-wrap-7059 .aio-icon-title"
                        data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:20px;&quot;,&quot;line-height&quot;:&quot;desktop:26px;&quot;}"
                        style="">Privacy</h3>
                    </div>
                    <div class="aio-icon-description ult-responsive"
                      data-ultimate-target="#Info-box-wrap-7059 .aio-icon-description"
                      data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}"
                      style="">Security in research alludes to the secrecy stood to members in that
                      research.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="why-we-are">
      <div class="section-container">
        <h2 style="font-weight:bold;margin-bottom:10px;text-align: center;">Why Choose Us?</h2>
        <div class="uvc-heading-spacer line_only" style="">
          <span class="uvc-headings-line"
            style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;">
          </span>
        </div>
        <!-- <div class="wpb_text_column wpb_content_element  vc_custom_1605950708926">
          <div class="wpb_wrapper">
            <p style="text-align:center;">Explore our features here! We provide an overview of our services which
              exhibits
              the following qualities. When it comes to quality, we at ThereSearchHelp believe in helping our clients
              to
              gives
              you the best-in-class research writing services.</p>
          </div>
        </div> -->
        <div class="home_count">
          <div class="column-inner">
            <div class="wpb_wrapper">
              <div class="aio-icon-top">
                <div class="ult-just-icon-wrapper  ">
                  <div class="align-icon" style="text-align:center;">
                    <div class="aio-icon circle " style="color:#fff;background:#cb1f1f;font-size:32px;display:inline-block;">
                      <i class="fa-solid fa-user-tie"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stats-desc">
                <div class="count">Expertise</div>
                <div class="counter-title">Our team of seasoned academics, researchers, and industry professionals
                  bring a wealth of knowledge and experience to every project, ensuring exceptional results that
                  exceed expectations.</div>
              </div>
            </div>
            <div class="wpb_wrapper">
              <div class="aio-icon-top">
                <div class="ult-just-icon-wrapper  ">
                  <div class="align-icon" style="text-align:center;">
                    <div class="aio-icon circle "
                      style="color:#fff;background:#cb1f1f;font-size:32px;display:inline-block;"> <i class="fa-solid fa-lightbulb"></i> </div>
                  </div>
                </div>
              </div>
              <div class="stats-desc">
                <div class="count">Innovation</div>
                <div class="counter-title">We leverage cutting-edge research tools, methodologies, and technologies to
                  deliver innovative solutions that drive meaningful impact and advance the frontiers of knowledge.
                </div>
              </div>
            </div>
            <div class="wpb_wrapper">
              <div class="aio-icon-top">
                <div class="ult-just-icon-wrapper  ">
                  <div class="align-icon" style="text-align:center;">
                    <div class="aio-icon circle "
                      style="color:#fff;background:#cb1f1f;font-size:32px;display:inline-block;"> <i class="fa-solid fa-handshake"></i> </div>
                  </div>
                </div>
              </div>
              <div class="stats-desc">
                <div class="count">Collaboration</div>
                <div class="counter-title">Collaboration is at the heart of our approach. We work closely with our
                  clients to understand their unique needs and goals, fostering a collaborative partnership that
                  yields outstanding outcomes.</div>
              </div>
            </div>
            <div class="wpb_wrapper">
              <div class="aio-icon-top">
                <div class="ult-just-icon-wrapper  ">
                  <div class="align-icon" style="text-align:center;">
                    <div class="aio-icon circle "
                      style="color:#fff;background:#cb1f1f;font-size:32px;display:inline-block;"> <i class="fa-solid fa-globe"></i> </div>
                  </div>
                </div>
              </div>
              <div class="stats-desc">
                <div class="count">Integrity</div>
                <div class="counter-title">Trust and integrity are the cornerstones of our business. You can rely on
                  us to deliver on our promises with honesty, transparency, and ethical conduct in all our
                  interactions.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-section">
      <div class="section-container">
        <h2 style="font-weight:bold;margin-bottom:10px;text-align: center;">Services We Provide</h2>
        <div class="uvc-heading-spacer line_only" style="">
          <span class="uvc-headings-line"
            style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;">
          </span>
        </div>
        <div class="column-inner">
          <div class="row-fluid owl-carousel">
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/09.png" />
                </a>
              </div>
              <div class="creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Ph.D. Thesis Assistance
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    Whether you're just starting your doctoral journey or nearing completion, our experienced
                    consultants provide personalized support to help you navigate the complexities of thesis writing,
                    research methodology, data analysis, and more.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/10.png" />
                </a>
              </div>
              <div class="creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Research Papers
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    From conceptualization to publication, we offer tailored assistance to ensure your research papers
                    meet the highest standards of academic rigor and excellence.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/05-1.png" />
                </a>
              </div>
              <div class="creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Research Proposals
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    Need funding for your research project? Our experts can help you craft compelling research
                    proposals that stand out to funding agencies, foundations, and academic institutions.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/06.png" />
                </a>
              </div>
              <div class="creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Ghost-writing Services
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    Confidential ghost-writing services for academics, researchers, and professionals seeking
                    assistance with writing scholarly articles, books, and other academic publications.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/07.png" />
                </a>
              </div>
              <div class=" creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Archival Research and Assistance
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    Unlock the secrets of the past with our archival research services. Our team will guide you
                    through the process of accessing and analyzing historical documents, manuscripts, and records.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/10.png" />
                </a>
              </div>
              <div class="creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Field Surveys
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    Gathering primary data through field surveys? Let us handle the logistics and analysis, so you can
                    focus on collecting meaningful insights for your research project.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper item">
              <div class="shortcode-single-image-wrap">
                <a href="#-" class="layzr-bg rollover this-ready" style="border-radius:500px;" aria-label="Image">
                  <img
                    src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/05-1.png" />
                </a>
              </div>
              <div class="creative-link-wrap">
                <a href="#-"
                  style="font-family: &quot;Open Sans Condensed&quot;; font-weight: 700; color: rgb(31, 54, 92);">
                  <span style="color: rgb(31, 54, 92);" class="ult_btn10_span">
                    Detailed Project Reports
                  </span>
                </a>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align:center;">
                    Our meticulous project reports document your research findings, methodologies, and recommendations
                    with precision and clarity, ensuring your work makes a lasting impact.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="get-started-section">
      <h2 style="font-weight:bold;margin-bottom:10px;text-align: center;">Get Started</h2>
      <div class="uvc-heading-spacer line_only" style="">
        <span class="uvc-headings-line"
          style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;">
        </span>
      </div>
      <p>
        Ready to take your research to the next level? Contact us today to discuss your project and learn how
        <b>TheResearchHelp.com</b> can support your academic journey.
      </p>
    </div>

    <div class="about-us-section">
      <h2 style="font-weight:bold;margin-bottom:10px;text-align: center;">About Us</h2>
      <div class="uvc-heading-spacer line_only" style="">
        <span class="uvc-headings-line"
          style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;">
        </span>
      </div>
      <p>
        Founded on a passion for research excellence, <b>TheResearchHelp.com</b> has been helping scholars,
        researchers, and
        institutions achieve their academic goals since [year]. With a commitment to excellence, integrity,
        innovation, and collaboration, we're proud to be a trusted partner in research consultancy services worldwide.
      </p>
    </div>

    <div class="contact-us-section">
      <h2 style="font-weight:bold;margin-bottom:10px;text-align: center;">Contact Us</h2>
      <div class="uvc-heading-spacer line_only" style="">
        <span class="uvc-headings-line"
          style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;">
        </span>
      </div>
      <p>
        Have questions? Ready to get started? Contact us today to speak with one of our research consultants and
        discover how <b>TheResearchHelp.com</b> can help you achieve your research goals.
      </p>
    </div>

    <div class="testimonials-section">
      <div id="ultimate-heading-42956623b03f07745"
        class="uvc-heading ult-adjust-bottom-margin ultimate-heading-42956623b03f07745 uvc-2219 accent-border-color"
        data-hspacer="line_only" data-halign="center" style="text-align:center;">
        <div class="uvc-main-heading ult-responsive"
          data-ultimate-target=".uvc-heading.ultimate-heading-42956623b03f07745 h2"
          data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:40px;&quot;,&quot;line-height&quot;:&quot;desktop:46px;&quot;}">
          <h2 style="font-weight:bold;color:#fff;margin-bottom:10px;" class="lazyloaded">Testimonials</h2>
        </div>
        <div class="uvc-heading-spacer line_only" style="topheight:5px;"><span class="uvc-headings-line"
            style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;"></span></div>
      </div>
      <div class="owl-carousel" style="width: 80%; margin: 0 auto; margin-top: 30px;">
        <div class="testimonial-item">
          <div class="testimonial-content">
            <p>
              Last year I asked you to do research paper writing for my domain. Really best services you have done for
              my
              PhD. Thanks for your great services and support. If…
              <br>
              <a href="#-" class="more-link" aria-label="Read more about Chisom Moses">read more</a>
            </p>
          </div>
          <div class="testimonial-avatar">
            <span class="testimonial-thumb layzr-bg">
              <img
                src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2017/06/profile-80x80.jpg"
                class="preload-me aspect lazyloaded">
            </span>
          </div>
          <div class="testimonial-name">
            <span class="text-primary">Chisom Moses</span><br>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-content">
            <p>
              Last year I asked you to do research paper writing for my domain. Really best services you have done for
              my
              PhD. Thanks for your great services and support. If…
              <br>
              <a href="#-" class="more-link" aria-label="Read more about Chisom Moses">read more</a>
            </p>
          </div>
          <div class="testimonial-avatar">
            <span class="testimonial-thumb layzr-bg">
              <img
                src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2017/06/profile-80x80.jpg"
                class="preload-me aspect lazyloaded">
            </span>
          </div>
          <div class="testimonial-name">
            <span class="text-primary">Chisom Moses</span><br>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-content">
            <p>
              Last year I asked you to do research paper writing for my domain. Really best services you have done for
              my
              PhD. Thanks for your great services and support. If…
              <br>
              <a href="#-" class="more-link" aria-label="Read more about Chisom Moses">read more</a>
            </p>
          </div>
          <div class="testimonial-avatar">
            <span class="testimonial-thumb layzr-bg">
              <img
                src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2017/06/profile-80x80.jpg"
                class="preload-me aspect lazyloaded">
            </span>
          </div>
          <div class="testimonial-name">
            <span class="text-primary">Chisom Moses</span><br>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-content">
            <p>
              Last year I asked you to do research paper writing for my domain. Really best services you have done for
              my
              PhD. Thanks for your great services and support. If…
              <br>
              <a href="#-" class="more-link" aria-label="Read more about Chisom Moses">read more</a>
            </p>
          </div>
          <div class="testimonial-avatar">
            <span class="testimonial-thumb layzr-bg">
              <img
                src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2017/06/profile-80x80.jpg"
                class="preload-me aspect lazyloaded">
            </span>
          </div>
          <div class="testimonial-name">
            <span class="text-primary">Chisom Moses</span><br>
          </div>
        </div>
      </div>
    </div>

    <div class="reach-us">
      <div id="ultimate-heading-81086623b03f1dcc6"
        class="uvc-heading ult-adjust-bottom-margin ultimate-heading-81086623b03f1dcc6 uvc-251 accent-border-color"
        data-hspacer="line_only" data-halign="center" style="text-align:center;">
        <div class="uvc-main-heading ult-responsive"
          data-ultimate-target=".uvc-heading.ultimate-heading-81086623b03f1dcc6 h2"
          data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:40px;&quot;,&quot;line-height&quot;:&quot;desktop:46px;&quot;}">
          <h2 style="font-weight:bold;margin-bottom:10px;" class="lazyloaded">Reach Us At</h2>
        </div>
        <div class="uvc-heading-spacer line_only" style="topheight:5px;"><span class="uvc-headings-line"
            style="border-style: solid; border-bottom-width: 5px; width: 200px; margin: 0px auto;"></span></div>
      </div>
      <div class="vc_empty_space" style="height:30px;"><span class="vc_empty_space_inner"></span></div>
      <div class="map-holder">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Third floor, Ganesh apartments,  Pal dairy opposite to JNU University, New Delhi, India&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="Third floor, Ganesh apartments,  Pal dairy opposite to JNU University, New Delhi, India" aria-label="Aristotle World School, ETWAh, UP , India" width="80%" height="520" frameborder="0" style="border:0; padding-bottom:20px" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 20,
      responsiveClass: true,
      navigation: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 3,
          nav: false
        },
        1000: {
          items: 4,
          loop: false
        }
      }
    });
  });
</script>