<footer id="footer" class="footer solid-bg">
  <div class="wf-wrap">
    <div class="wf-container-footer">
      <div class="wf-container">
        <section id="text-2" class="widget widget_text wf-cell wf-1-4">
          <div class="textwidget">
            <table>
              <tbody>
                <tr>
                  <td><img alt="ThereSearchHelp Research Center" width="200" height="75"
                      nitro-lazy-src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/04/phdizone23.png"
                      class="alignnone size-full wp-image-7601 lazyloaded" decoding="async" nitro-lazy-empty=""
                      id="MjY2ODoxODk=-1"
                      src="<%= asset_path('logos/theresearchhelp-logo-black.png') %>">
                  </td>
                </tr>
              </tbody>
            </table>
            <p style="color:#fff;padding-bottom:10px;text-align:justify;">The division a dream company of our
              visionary founder was established with a sole motive to increase intellectual contributions through
              research in various diversified fields to the society.This social perspective and need gap –
              Professionals academicians looking for guidance.<br> Check Out our <a
                href="https://theresearchhelp.com/phdizone-reviews/" target="_blank"
                rel="noopener"><strong>ThereSearchHelp
                  Reviews</strong></a></p>
          </div>
        </section>

        <section id="presscore-contact-info-widget-3"
          class="widget widget_presscore-contact-info-widget wf-cell wf-1-4">
          <div class="widget-title">Contact Info</div>
          <ul class="contact-info">
            <li><span class="color-primary">Address:</span><br>Third floor, Ganesh apartments,  Pal dairy opposite to JNU University, New Delhi, India</li>
            <li><span class="color-primary">Business hours:</span><br>Mon - Sun: 24 Hours</li>
            <li><span class="color-primary">Phone number:</span><br><a style="text-decoration:none;"
                href="tel: 8839070829">+91-88390 70829</a> </li>
            <li><span class="color-primary">Mail at:</span><br>theresearchhelp@gmail.com</li>
          </ul>
          <p class="assistive-text">Find us on:</p>
          <div class="soc-ico">
            <a href="#-" target="_blank" class="facebook">
              <span class="fab fa-facebook"></span>
            </a>
            <a href="#-" target="_blank" class="twitter">
              <span class="fab fa-twitter"></span>
            </a>
            <a href="#-" target="_blank" class="linkedin">
              <span class="fab fa-linkedin"></span>
            </a>
            <a href="#-" target="_blank" class="pinterest">
              <span class="fab fa-pinterest-p"></span>
            </a>
            <a href="#-" target="_blank" class="instagram">
              <span class="fab fa-instagram"></span>
            </a>
          </div>
        </section>

        <section id="text-3" class="widget widget_text wf-cell wf-1-4">
          <div class="widget-title">Reach Us</div>
          <div class="textwidget">
            <p><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Third floor, Ganesh apartments,  Pal dairy opposite to JNU University, New Delhi, India&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="Third floor, Ganesh apartments,  Pal dairy opposite to JNU University, New Delhi, India" aria-label="Aristotle World School, ETWAh, UP , India" width="100%" height="220" frameborder="0" style="border:0; padding-bottom:20px" allowfullscreen></iframe>
            </p>
          </div>
        </section>

        <section id="presscore-blog-posts-2" class="widget widget_presscore-blog-posts wf-cell wf-1-4">
          <div class="widget-title">Recent News</div>
          <ul class="recent-posts">
            <li>
              <article class="post-format-standard">
                <div class="post-content"><a href="https://theresearchhelp.com/top-notch-writing-services/">The
                    Ultimate
                    Guide to Excelling in Your Research Paper Writing with Top-notch Writing Services</a><br><time
                    datetime="2024-02-21T15:42:13+05:30">February 21, 2024</time></div>
              </article>
            </li>
            <li>
              <article class="post-format-standard">
                <div class="post-content"><a
                    href="https://theresearchhelp.com/benefits-of-professional-paper-writing-services/">Top Benefits
                    of
                    Hiring a Professional Paper Writing Services</a><br><time
                    datetime="2023-04-10T15:14:07+05:30">April 10, 2023</time></div>
              </article>
            </li>
            <li>
              <article class="post-format-standard">
                <div class="post-content"><a
                    href="https://theresearchhelp.com/how-phd-assistance-help-your-research-paper-help/">How PHD
                    Assistance
                    Help Can Improve The Quality of Your Research Work?</a><br><time
                    datetime="2023-03-31T14:17:39+05:30">March 31, 2023</time></div>
              </article>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div id="bottom-bar" class="full-width-line logo-left" role="contentinfo">
    <div class="wf-wrap">
      <div class="wf-container-bottom">
        <div class="wf-float-left"> © [2024] TheResearchHelp.com. . All rights reserved. </div>
        <div class="wf-float-right">
          <div class="mini-nav">
            <ul id="bottom-menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7659 first depth-0"><a
                  href="/terms-and-conditions/" data-level="1"><span class="menu-item-text"><span
                      class="menu-text">Terms &amp; Conditions</span></span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7660 depth-0"><a
                  href="/privacy-policy/" data-level="1"><span class="menu-item-text"><span class="menu-text">Privacy
                      Policy</span></span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7661 depth-0"><a
                  href="/contact-us/" data-level="1"><span class="menu-item-text"><span class="menu-text">Send
                      Feedback</span></span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7662 depth-0"><a
                  href="/help-desk/" data-level="1"><span class="menu-item-text"><span
                      class="menu-text">HelpDesk</span></span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8106 depth-0"><a
                  href="https://theresearchhelp.com/submit-ticket/" data-level="1"><span class="menu-item-text"><span
                      class="menu-text">Submit Ticket</span></span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8107 last depth-0"><a
                  href="https://theresearchhelp.com/my-tickets/" data-level="1"><span class="menu-item-text"><span
                      class="menu-text">My Tickets</span></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>