<header>
  <div role="banner"
    class="masthead classic-header justify full-width-line widgets full-height dividers line-decoration shadow-mobile-header-decoration small-mobile-menu-icon dt-parent-menu-clickable show-sub-menu-on-hover show-mobile-logo lazyloaded">
    <div class="top-bar-bg top-bar">
      <div class="top-bar-container">
        <div class="left-widgets mini-widgets">
          <div><i class="fa-solid fa-phone"></i> +91-9654653899</div>
          <div><i class="fa-regular fa-envelope"></i> presale@phdizone.com</div>
        </div>
        <div class="right-widgets mini-widgets">
          <div class="social-media-links">
            <a href="#-">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="social-media-links">
            <a href="#-">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="social-media-links">
            <a href="#-">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </div>
          <div class="social-media-links">
            <a href="#-">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="social-media-links">
            <a href="#-">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div class="social-media-links">
            <a href="#-">
              <i class="fab fa-skype"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bar">
      <div class="branding">
        <a class="" href="/"><img width="200" height="75" sizes="200px"
            src="<%= asset_path('logos/theresearchhelp-logo-trans.png') %>"></a>
        <div class="mini-widgets"></div>
        <div class="mini-widgets">
          <div class="text-area show-on-desktop near-logo-first-switch in-menu-second-switch first">
            <p><a href="https://support365.elysiumgroups.com/livechat/chat.php" target="_blank"></a></p>
            <p style="margin-right:-20px;"><img alt="ThereSearchHelp Support Center"
                src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2020/01/call_gif.gif"
                class="lazyloaded"></p>
            <p></p>
          </div>
          <div class="text-area show-on-desktop near-logo-first-switch in-menu-second-switch">
            <p><a href="https://support365.elysiumgroups.com/livechat/chat.php" target="_blank"></a></p>
            <p><span style="font-size:20px;line-height:17px;color:#ffb536;">Live Chat</span><br> <span
                style="font-size:24px;line-height:32px;color:#1f365c;"><b>24/7 Support</b></span></p>
            <p></p>
          </div>
          <div class="text-area show-on-desktop near-logo-first-switch in-menu-second-switch">
            <p style="border-right:2px solid #ddd;height:85px;">&nbsp;</p>
          </div>
          <div class="text-area show-on-desktop in-top-bar-right in-top-bar last">
            <p><span style="font-size:20px;line-height:17px;color:#ffb536;"><b>GET FREE CONSULTATION!</b></span><br>
              <span style="font-size:24px;line-height:32px;color:#1f365c;"><b><a
                    style="text-decoration:none;color:black;" href="tel:+9654653899">+919654653899</a></b></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav class="navigation">
      <ul id="primary-menu"
        class="main-nav underline-decoration l-to-r-line level-arrows-on outside-item-remove-margin">
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7603 first has-children depth-0">
          <a href="/blog_posts" data-level="1">
            <span class="menu-item-text"><span class="menu-text">
                <i class="_mi _before dashicons dashicons-businessman" aria-hidden="true"></i>
                <span><i class="fa-solid fa-blog"></i> Blog Posts</span>
              </span>
              <i class="underline"></i>
            </span>
          </a>
        </li>
        <span class="vertical-breaker"></span>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7603 first has-children depth-0">
          <a href="/concept_notes" data-level="1">
            <span class="menu-item-text"><span class="menu-text">
                <i class="_mi _before dashicons dashicons-businessman" aria-hidden="true"></i>
                <span><i class="fa-solid fa-clipboard"></i> Concept Notes</span>
              </span>
              <i class="underline"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="mobile-header-bar">
      <div class="mobile-navigation">
        <a href="https://theresearchhelp.com/#" class="dt-mobile-menu-icon" aria-label="Mobile menu icon">
          <div class="lines-button "><span class="menu-line"></span><span class="menu-line"></span><span
              class="menu-line"></span></div>
        </a>
      </div>
      <div class="mobile-mini-widgets">
        <div class="text-area show-on-desktop near-logo-first-switch in-menu-second-switch show-on-first-switch">
          <p><a href="https://support365.elysiumgroups.com/livechat/chat.php" target="_blank"></a></p>
          <p style="margin-right:-20px;"><img alt="ThereSearchHelp Support Center"
              src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2020/01/call_gif.gif"
              class="lazyloaded"></p>
          <p></p>
        </div>
        <div class="text-area show-on-desktop near-logo-first-switch in-menu-second-switch show-on-first-switch">
          <p><a href="https://support365.elysiumgroups.com/livechat/chat.php" target="_blank"></a></p>
          <p><span style="font-size:20px;line-height:17px;color:#ffb536;">Live Chat</span><br> <span
              style="font-size:24px;line-height:32px;color:#1f365c;"><b>24/7 Support</b></span></p>
          <p></p>
        </div>
        <div class="text-area show-on-desktop near-logo-first-switch in-menu-second-switch show-on-first-switch">
          <p style="border-right:2px solid #ddd;height:85px;">&nbsp;</p>
        </div>
        <div
          class="mini-search show-on-desktop near-logo-first-switch near-logo-second-switch popup-search custom-icon show-on-first-switch">
          <form class="searchform mini-widget-searchform" role="search" method="get"
            action="https://theresearchhelp.com/">
            <div class="screen-reader-text">Search:</div>
            <a href="https://theresearchhelp.com/" class="submit"><i
                class=" mw-icon the7-mw-icon-search-bold"></i><span>Search</span></a>
            <div class="popup-search-wrap" style="opacity: 0; visibility: hidden;"> <input type="text"
                class="field searchform-s" name="s" value="" placeholder="Type and hit enter …" title="Search form">
              <a href="https://theresearchhelp.com/" class="search-icon"><i class="the7-mw-icon-search"></i></a>
            </div>
            <input type="submit" class="assistive-text searchsubmit" value="Go!">
          </form>
        </div>
        <div
          class="mini-search show-on-desktop near-logo-first-switch near-logo-second-switch popup-search custom-icon show-on-second-switch">
          <form class="searchform mini-widget-searchform" role="search" method="get"
            action="https://theresearchhelp.com/">
            <div class="screen-reader-text">Search:</div>
            <a href="https://theresearchhelp.com/" class="submit"><i
                class=" mw-icon the7-mw-icon-search-bold"></i><span>Search</span></a>
            <div class="popup-search-wrap" style="opacity: 0; visibility: hidden;"> <input type="text"
                class="field searchform-s" name="s" value="" placeholder="Type and hit enter …" title="Search form">
              <a href="https://theresearchhelp.com/" class="search-icon"><i class="the7-mw-icon-search"></i></a>
            </div>
            <input type="submit" class="assistive-text searchsubmit" value="Go!">
          </form>
        </div>
      </div>
      <div class="mobile-branding"><a class="sticky-mobile-logo-first-switch" href="https://theresearchhelp.com/"><img
            class=" preload-me" src="./Phd_files/phdizone2.webp"
            srcset="https://theresearchhelp.com/wp-content/uploads/2019/02/phdizone2.png 200w" width="200" height="75"
            sizes="200px" alt="ThereSearchHelp"> </a><a class="" href="https://theresearchhelp.com/"><img width="200"
            height="75" sizes="200px" alt="ThereSearchHelp"
            nitro-lazy-srcset="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/02/phdizone2.png 200w"
            nitro-lazy-src="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/02/phdizone2.png"
            class="preload-me lazyloaded" decoding="async" nitro-lazy-empty="" id="NjMxOjI2OA==-1"
            src="./Phd_files/phdizone2.png"
            srcset="https://cdn-ikplnkp.nitrocdn.com/VbjbvoeeEhHAoWsrpeeCNgJTFncutpxZ/assets/images/optimized/rev-c32df85/phdizone.com/wp-content/uploads/2019/02/phdizone2.png 200w"></a>
      </div>
    </div>
  </div>
</header>